## Usando listas como "pilhas"

In [5]:
pilha = [1,2,3,4,5]

In [6]:
pilha

[1, 2, 3, 4, 5]

In [7]:
pilha.pop()

5

In [8]:
pilha

[1, 2, 3, 4]

In [9]:
pilha.append(6)

In [10]:
pilha

[1, 2, 3, 4, 6]

In [11]:
pilha.pop()

6

In [12]:
pilha.pop()

4

## Usando listas como "Filas"

In [4]:
fila = ['banana', 'laranja', 'maçã']

In [5]:
fila

['banana', 'laranja', 'maçã']

In [6]:
fila.insert(0, 'maracujá')

In [7]:
fila

['maracujá', 'banana', 'laranja', 'maçã']

In [8]:
fila.pop()

'maçã'

In [9]:
fila

['maracujá', 'banana', 'laranja']

In [10]:
fila.insert(0, 'siriguela')

In [11]:
fila

['siriguela', 'maracujá', 'banana', 'laranja']

In [12]:
fila.pop()

'laranja'

In [13]:
fila

['siriguela', 'maracujá', 'banana']

In [18]:
import datetime
fila=[]
fila.extend(range(100000000))

# operação custosa
time1=datetime.datetime.now()
for i in range(10):
    fila.insert(0, 'a')
    fila.pop()

delta = datetime.datetime.now()-time1
print(delta)

0:00:02.037584

## Filas usando deque

In [17]:
from collections import deque
import datetime
filad = deque()
filad.extend(range(100000000))

# operação custosa
time1=datetime.datetime.now()
for i in range(10000000):
    filad.insert(0, 'a')
    filad.pop()

print(datetime.datetime.now()-time1)

0:00:03.107072

### Compreensão de Lista (List Comprehensions)

In [54]:
numeros = [1, 2, 3, 4, 5]

In [62]:
letras = ['a', 'b', 'c']

In [67]:
outra_lista = [(x, y) for x in range(10) for y in letras if y == 'a']

In [68]:
outra_lista

[(0, 'a'),
 (1, 'a'),
 (2, 'a'),
 (3, 'a'),
 (4, 'a'),
 (5, 'a'),
 (6, 'a'),
 (7, 'a'),
 (8, 'a'),
 (9, 'a')]

## Declaração "del"

In [1]:
# A declaração del serve para 3 coisas
# 1. apagar um item de uma lista
# 2. apagar uma faixa de itens de uma lista
# 3. apagar um item de um dicionário
# 4. apagar uma variável inteira

In [25]:
numeros = [1, 2, 3, 4, 5, 6, 7]
dicionario = {'a':'a', 'b': 'b'}
tupla = (1, 2, 3)

In [26]:
del numeros[0]

In [15]:
numeros

[2, 3, 4, 5, 6, 7]

In [16]:
del numeros[0:2]

In [17]:
numeros

[4, 5, 6, 7]

In [21]:
del dicionario['a']

In [22]:
tupla[0]

1

In [23]:
del tupla[0]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
del tupla

## Tuplas

In [43]:
# Estrutura composta de dados
# Imutável (mas podemos efetuar mudanças internas em seus componentes)
# hasheável (se não houver listas ou dicionários em seus componentes)
# Vocação para armazenar dados não homogêneos

In [52]:
tupla = 'José', 1, 'João', {1:1, 2:2},

In [53]:
tupla

('José', 1, 'João', {1: 1, 2: 2})

In [54]:
hash(tupla)

TypeError: unhashable type: 'dict'

In [55]:
tupla[3]=5

TypeError: 'tuple' object does not support item assignment

In [59]:
tupla[3][1]=5

In [60]:
tupla

('José', 1, 'João', {1: 5, 2: 2})

## Set (conjunto)

In [ ]:
# Estrutura composta de dados
# Mutável
# Elementos não se repetem
# Sua ordem não importa
# Vocação para testar pertencimento ou para evitar duplicações

In [68]:
_set = {1,2,3,4,5}

In [69]:
_set

{1, 2, 3, 4, 5}

In [70]:
hash(set)

TypeError: unhashable type: 'set'

In [90]:
vbrasil = set('Brasil')

In [91]:
vbrasil

{'B', 'a', 'i', 'l', 'r', 's'}

In [96]:
vestados_unidos = set('Estados Unidos')

In [97]:
vestados_unidos

{' ', 'E', 'U', 'a', 'd', 'i', 'n', 'o', 's', 't'}

In [98]:
# Intersecção
vbrasil & vestados_unidos

{'a', 'i', 's'}

In [99]:
# União
vbrasil | vestados_unidos

{' ', 'B', 'E', 'U', 'a', 'd', 'i', 'l', 'n', 'o', 'r', 's', 't'}

In [100]:
# Subtração
vbrasil-vestados_unidos

{'B', 'l', 'r'}

In [101]:
# "ou" exclusivo
vbrasil ^ vestados_unidos

{' ', 'B', 'E', 'U', 'd', 'l', 'n', 'o', 'r', 't'}

## Indo mais fundo em Dicionários

In [2]:
# Tipo de dados composto mutável
# Indexado por uma chave (hasheável [número ou string ou alguns sets])
dicionario = {1: 'João', 2: 'José', 3: 'Maria'}

In [3]:
dicionario[2]

'José'

In [6]:
# As chaves devem ser únicas
dicionario[2] = 'Paulo'

In [7]:
dicionario

{1: 'João', 2: 'Paulo', 3: 'Maria'}

In [8]:
# Incluindo elemento
# Alterando elemento
# Excluindo elemento

In [9]:
# recuperando as chaves como uma lista
# Verificando se uma chave existe

In [11]:
# Usando o construtor dict()
# 1) lista de tuplas
# 2) parâmetros nomeados

In [21]:
# Construindo um dicionário usando dict comprehensions
dicionário = {y: x for y in range (5) for x in range(5)}

In [22]:
dicionário

{0: 4, 1: 4, 2: 4, 3: 4, 4: 4}