# Entrada e Saída

## Imprimindo na tela

In [92]:
copas = 5

In [95]:
# mais simples
print("O Brasil ganhou " + str(copas) + " copas do mundo")

O Brasil ganhou 5 copas do mundo

### Strings literais formatadas

In [99]:
quantidades = [5, 1, 2]
eventos = ['copas do mundo', 'medalha(s) de ouro nas olimpíadas' , 'vices campeonatos mundiais']
for x, y in zip(quantidades, eventos):
    print(f"O Brasil tem {x} {y}")

O Brasil tem 5 copas do mundo
O Brasil tem 1 medalha(s) de ouro nas olimpíadas
O Brasil tem 2 vices campeonatos mundiais

In [100]:
# Fazendo colunas alinhadas
estados = [{'nome': 'São Paulo', 'sigla': 'SP'}, 
           {'nome': 'Rio de Janeiro', 'sigla': 'RJ'},
           {'nome': 'Ceará', 'sigla': 'CE'},
           {'nome': 'Paraíba', 'sigla': 'PB'},]

In [101]:
for estado in estados:
    print(f"{estado['nome']:15} -> {estado['sigla']}")

São Paulo       -> SP
Rio de Janeiro  -> RJ
Ceará           -> CE
Paraíba         -> PB

### O método "format()"

In [125]:
ficha = "Meu nome é {nome}, sou {estado_civil} e tenho {num_filhos} filho(s)"

In [118]:
pessoas = [{'nome': 'José', 'estado civil': 'casado', 'num filhos': 1 },
           {'nome': 'Nilton', 'estado civil': 'viúvo', 'num filhos': 4 },
           {'nome': 'André', 'estado civil': 'solteiro', 'num filhos': 0 }]

In [126]:
ficha2 = ficha.format(nome='a', estado_civil='b', num_filhos=3)

KeyError: 'nome'

In [119]:
for pessoa in pessoas:
    print(ficha.format(nome=pessoa['nome'], estado_civil=pessoa['estado civil'], num_filhos=pessoa['num filhos']))

Meu nome é José, sou casado e tenho 1 filho(s)
Meu nome é Nilton, sou viúvo e tenho 4 filho(s)
Meu nome é André, sou solteiro e tenho 0 filho(s)

In [122]:
# Ou ainda
ficha = "Meu nome é {0[nome]}, sou {0[estado civil]} e tenho {0[num filhos]} filho(s)"
for pessoa in pessoas:
    print(ficha.format(pessoa))

Meu nome é José, sou casado e tenho 1 filho(s)
Meu nome é Nilton, sou viúvo e tenho 4 filho(s)
Meu nome é André, sou solteiro e tenho 0 filho(s)

In [123]:
# Ou ainda
ficha = "Meu nome é {nome}, sou {estado civil} e tenho {num filhos} filho(s)"
for pessoa in pessoas:
    print(ficha.format(**pessoa))

Meu nome é José, sou casado e tenho 1 filho(s)
Meu nome é Nilton, sou viúvo e tenho 4 filho(s)
Meu nome é André, sou solteiro e tenho 0 filho(s)

### Formatando a String com estilo "printf"

In [124]:
print('O valor de Pi é aproximadamente %5.3f.' % 3.1415926)

O valor de Pi é aproximadamente 3.142.